body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

botton {
  cursor: pointer;
}
img {
  display: block;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
/**---------------HEADER------------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
  padding: 17px 0;
}

.logo-part {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-adress {
  display: none;
}
.header-list {
  display: none;
}

.header-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
/**---------------------------------------------*/

/**---------------SECTION 1. HERO------------------------*/

.hero {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-container {
  align-items: center;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin-bottom: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: block;
  background: #4d5ae5;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/**---------------------------------------------*/

/**---------------SECTION 2. FEATURE------------------------*/

.feature {
  padding: 96px 0;
}

.feature-title {
}

.feature-list {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  gap: 72px;
}

.feature-item {
  /* width: calc((100% - 24px * 3) / 4); */
  width: 100%;
}

.feature-item-icon-box {
  /* display: flex; */
  display: none;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.feature-item-icon {
}

.feature-subtitle {
  color: #2e2f42;
  /* font-size: 20px;
  font-weight: 500;
  line-height: 1.2; */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.feature-text {
  color: #434455;
  font-size: 16px;
  /* font-weight: 400; */
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**---------------------------------------------*/

/**---------------SECTION 3. TEAM------------------------*/
.team {
  background: #f4f4fd;
  padding: 96px 0;
}
.team-conteiner {
  padding: 0 28px;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 32px 0 32px;
  margin-bottom: 72px;
}

.team-list {
  display: flex;

  /* gap: 24px; */
  gap: 72px;
  flex-wrap: wrap;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.team-item-name {
  padding: 32px 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.team-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-icons-list {
  display: flex;
  gap: 24px;
  margin: auto;
  justify-content: center;
}
.team-icons-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.team-item-icon-link {
  display: flex;
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: #4d5ae5;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-icon {
  position: absolute;
  fill: #f4f4fd;
}

.team-item-icon-link:hover,
.team-item-icon-link:focus {
  background-color: #404bbf;
}
/**---------------------------------------------*/

/**---------------SECTION 4. PORTFOLIO------------------------*/

.portfolio {
  /* padding: 120px 0; */
  padding: 96px 0;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px;
  row-gap: 48px; */
  gap: 48px;
}

.portfolio-img {
  width: 100%;
}

.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-item-cover-text {
  transform: translateY(0%);
}

.portfolio-item-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin: 0 auto;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-content-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item-cover-text {
  position: absolute;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  background: #4d5ae5;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**---------------------------------------------*/

/**---------------FOOTER------------------------*/
.footer {
  background: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
}
.logo {
}
.footer-logo {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-conteiner {
  display: flex;
  align-items: baseline;
}

.footer-social-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icons-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-item-icon-link {
  display: flex;
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: #4d5ae5;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-icon {
  position: absolute;
  fill: #f4f4fd;
}

.footer-item-icon-link:hover,
.footer-item-icon-link:focus {
  background-color: #31d0aa;
}
.footer-leftside {
  margin-right: 120px;
}
.footer-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.footer-form-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-email {
  width: 264px;
  height: 40px;
  color: #fff;
  font-size: 12px;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
}
.footer-email::placeholder {
  color: #fff;
}
.footer-btn {
  display: flex;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border: none;
  align-content: flex-start;
  cursor: pointer;
}

.footer-btn-icon {
  margin-left: 16px;
  fill: #fff;
}

/**---------------------------------------------*/

/**---------------MODAL WINDOW------------------------*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  width: 24px;
  height: 24px;
  padding: 8px;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-field {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.modal-lable {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  max-width: 4px;
  display: block;
  margin-bottom: 4px;
}

.modal-lable-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
  margin-bottom: 16px;
  width: 100%;
}

.modal-lable-comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  background-color: transparent;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-lable-comment:focus {
  border-color: #4d5ae5;
}

.check-input-text {
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.user-privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 3px;
  display: inline;
}

.modal-field-check {
  margin-bottom: 24px;
  width: 100%;
}

.user-privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + label span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  min-width: 169px;
  display: block;
  justify-content: center;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe {
  margin-left: auto;
}

/*? ========TABLET MODE======== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /** -----HEADER-----------------*/
  .header-menu-btn {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }
  .nav-item {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    display: block;
  }

  .nav-item .nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  address {
    font-style: normal;
  }

  .header-adress {
    display: block;
    margin-left: auto;
  }

  .header-adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-adress-link {
    font-size: 16px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-adress-link:hover,
  .header-adress-link:focus {
    color: #404bbf;
  }

  /** ----------------------------*/
  /** -----HERO-------------------*/
  /** ----------------------------*/
  /** -----FEATURE----------------*/
  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
  .feature-subtitle {
    text-align: left;
  }

  /** ----------------------------*/
  /** -----TEAM-------------------*/
  .team-conteiner {
    padding: 0 108px;
  }
  .team-list {
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 68px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
  /** ----------------------------*/
  /** -----PORTFOLIO--------------*/
  .portfolio-list {
    gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  /** ----------------------------*/
  /** -----FOOTER-----------------*/
  /** ----------------------------*/
  /** -----MODAL WINDOW-----------*/
  /** ----------------------------*/
}

/*? ========LAPTOP MODE======== */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  /** -----HEADER-----------------*/
  .logo {
    margin-right: 76px;
  }
  .header-adress-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-adress-link {
    font-size: 16px;
  }
  /** ----------------------------*/
  /** -----HERO-------------------*/
  /** ----------------------------*/
  /** -----FEATURE----------------*/
  .feature {
    padding: 120px 0;
  }
  .feature-list {
    flex-direction: row;
    gap: 24px;
  }
  .feature-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .feature-item-icon-box {
    display: flex;
  }
  .feature-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .feature-text {
    font-weight: 400;
  }
  /** ----------------------------*/
  /** -----TEAM-------------------*/
  .team {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  /** ----------------------------*/
  /** -----PORTFOLIO--------------*/
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    gap: 24px;
    row-gap: 48px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  /** ----------------------------*/
  /** -----FOOTER-----------------*/

  /** ----------------------------*/
  /** -----MODAL WINDOW-----------*/
  /** ----------------------------*/
}
